/* Write the CSS for you answer here */

#container{
    width: 700px;
    height: 541px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background{
    position: absolute;

}

.tree{
    width: 100%;
    bottom:0;
    position: absolute;
    z-index: 1;
    pointer-events: none; /* to restore it, set value to: auto */
}
@keyframes bounce{
    to{
        top: calc(100% - 62px)
    }
    /*20%{
        top: calc(100% - 62px)
    }
    40%{
        top: 70%
    }
    60%{
        top: calc(100% - 62px)
    }
    80%{
        top: 80%
    }
    100%{
        top: calc(100% - 62px)
    }*/


}


#container:not(:hover) >.bauble {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

.bauble{
    position: absolute;
}

.blue {
    top: 42%;
    left: 16%;
    z-index: 2;
}
.darkBlue{
    top: 50%;
    left: 45%;
    z-index: 2;
}
.green{
    top: 40%;
    left: 63%;
    z-index: 2;
}
.orange{
    top: 50%;
    left: 85%;
    z-index: 2;
}
.pink{
    top: 63%;
    left: 60%;
    z-index: 0;
}
.red{
    top: 65%;
    left: 7%;
    z-index: 2;
}