/* Write the CSS for you answer here */

#container{
    width: 700px;
    height: 541px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#background{
    position: absolute;

}

.tree{
    width: 100%;
    bottom:0;
    position: absolute;
    z-index: 1;
}
.bauble{
    position: absolute;
}
.blue{
    top: 42%;
    left: 16%;
    z-index: 2;
}
.darkBlue{
    top: 50%;
    left: 45%;
    z-index: 2;
}
.green{
    top: 40%;
    left: 63%;
    z-index: 2;
}
.orange{
    top: 50%;
    left: 85%;
    z-index: 2;
}
.pink{
    top: 63%;
    left: 60%;
    z-index: 0;
}
.red{
    top: 65%;
    left: 7%;
    z-index: 2;
}